body {
    font-family: sans-serif;
    background-color: azure;
    margin: 0;
}

main {
    font-size: 16px;
    padding: 0 14px;
}

ul {
    list-style-type: none;
}

ul img {
    width: 10%;
}

header {
    background-color: maroon;
    padding: 14px;
    margin: 0;
}

main p {
    width: 80%;
    line-height: 130%;
    font-size: 18px;
    margin-bottom: 20px;
}

.cars {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}

.cars div {
    max-width: 20%;
    min-width: 350px;
}

.cars div img {
    width: 100%;
    border-radius: 6px;
}

.cars a {
    display: block;
    text-decoration: none;
    font-size: 26px;
    text-align: center;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: azure;
    font-size: 30px;
    text-decoration: none;
}

footer {
    background-color: lightgray;
    padding: 10px 14px;
    margin-top: 10px;
}