@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: azure;
    margin: 0;
    box-sizing: border-box;
}

p {
    line-height: 150%;
}

main {
    font-size: 16px;
    padding: 0 14px;
    min-height: 90vh;
    padding: 0;
    margin: 0;
}

header {
    background-color: maroon;
    padding: 14px;
    margin: 0;
}

.links {
    display: flex;
    gap: 20px;
    align-items: center;

    a {
        color: azure;
        font-size: max(20px, 1.2vw);
        text-decoration: none;

        &:hover {
            color: lightgray;
        }
    }
}

.main-content {
    padding: 0;
    margin: 0;
    padding: 16px;
}

.main-title {
    font-size: max(18px, 1.3vw);
    margin: 0;
}

.main-description {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5vh;
}

.intro-content {
    height: 100vh;
    background-color: black;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .4;
    }
}

.explore-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: azure solid 2px;
    border-radius: 8px;
    color: azure;
    font-size: max(18px, 1.3vw);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: azure;
        color: black;
    }
}

.cards {
    padding-inline: 14px;
}

.card {
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: black;
    height: max-content;
    gap: 10px;

    img {
        width: 15%;
        height: 100%;
        min-width: 250px;
        border-radius: 6px;
    }

    &:hover img {
        transform: scale(1.03);
        transition: transform 0.3s ease;
    }
}

.card-description {
    display: inline-block;
    width: 70vw;
    padding: 0 12px;

    .card-title {
        font-size: 1.5rem;
        margin: 0;
    }

    .card-info {
        font-size: 1.2rem;
        margin: 10px 0;
    }
}

.logos {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 14px 0;
    
    img {
        width: 20%;
        object-fit: cover;
    }

    .logo-info {
        font-size: 28px;
        margin-block: 0;
        display: none;
        transition: all 0.3s ease;
    }
}

footer {
    background-color: lightgray;
    padding: 10px 14px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.skip-btn {
    position: absolute;
    top: 6vh;
    left: -100%;
    font-weight: bold;
    font-size: 16px;

    &:focus {
        left: 10px;
        padding: 4px;
    }
}

.selected-car {
    position: fixed;
    bottom: 1vh;
    right: 1vw;
    width: 12vw;
    height: 12vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        padding: 5%;
        margin: 0;
        font-size: 1.3rem;
        font-weight: bold;
        color: azure;
    }
}